@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
}
body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}
ul {
    list-style-type: none;
}
header {
    padding: 10px 100px;
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 50px;
    height: auto;
}
.menu ul{
    display: flex;
    gap: 20px;
    color: #e5e7eb;
    font-size: 18px;
}
.header-content{
    display: flex;
    padding: 100px 0;
    gap:20px
}
.header-content h1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.header-content p{
    color: #e5e7eb;
    font-size: 18px;
}
.header-content img{
    max-width: 550px;
}
.header-content button{
    background-color: #3882f6;
    border-radius: 10%;
    color: #fff;
    padding: 5px 30px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    margin: 20px 0;
}
.information{
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.information h1{
    color: #1f2937;
    font-weight: 900;
    font-size: 36px;
}
.info-content{
    display: flex;
    padding: 50px;
    justify-content: center;
    gap: 40px;
    max-width: 800px;
}
.info-image{
    width: 150px;
    height: 150px;
    border: solid;
    border-width: 3px;
    border-color: #3882f6;
    border-radius: 10%;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
}
.info-content p{
    color: #3f3f3f;
    font-size: 18px;
}
.quote{
    background-color: #efe7eb;
    padding: 100px;
}
.quote-text{
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}
.quote-source{
    font-size: 18px;
    font-weight: 900;
    align-self: flex-end;
}
.quote div{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 135px;
}